.feed {
  flex: 0.7;
  top: 80px;
}

.input {
  position: sticky;
  top: 59px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  width: 60%;
  height: 25px;
  border-radius: 10px;
  border: 2px solid gray;
}

input:focus {
  border: 2px solid gray;
  outline: 0;
}

button {
  padding: 5px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #fff;
}
