.header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 999;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgrey;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  background-color: #f3f2ef;
  font-family: monospace;
  font-size: 25px;
  align-items: center;
}

img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
}
